openapi: 3.0.0
info:
  title: "Catering API"
  description: |
    API для управления процессом доставки питания (кейтеринг).
    При запросе машины кейтеринга модуль Регистрации передаёт:
      - FlightId: идентификатор рейса.
      - Meals: массив заказов, где для каждого типа питания указывается количество порций.
  version: "1.0.0"
servers:
  - url: https://catering.reaport.ru
    description: Сервер для кейтеринга
tags:
  - name: admin
    description: "Админка"
paths:
  /request:
    post:
      summary: "Запрос на доставку питания"
      description: |
        Оркестратор инициирует доставку питания, передавая следующие данные:
          - FlightId: идентификатор рейса.
          - Meals: массив объектов, где для каждого типа питания (например, "Standard", "Vegetarian", "Vegan", "Gluten-Free")
                    указывается количество порций, передаваемое модулем Регистрации.
      operationId: RequestCatering
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CateringRequest'
      responses:
        '200':
          description: "Доставка питания успешно инициирована"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CateringResponse'
              examples:
                ValidRequest:
                  value:
                    Waiting: false
                    Status: "success"
        '400':
          description: "Неверный запрос: отсутствует обязательное поле или переданы некорректные данные."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                InvalidInput:
                  value:
                    Error: "Некорректные входные параметры."
        '500':
          description: "Внутренняя ошибка сервера"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                InternalServerError:
                  value:
                    Error: "InternalServerError"

  /mealtypes:
    get:
      summary: "Получение доступных типов питания"
      description: |
        Модуль регистрации запрашивает список типов питания для отображения пользователю.
      operationId: GetMealTypes
      responses:
        '200':
          description: "Список типов питания успешно получен"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MealTypesResponse'
              examples:
                DefaultMealTypes:
                  value:
                    mealTypes: ["Standard", "Vegetarian", "Vegan", "Gluten-Free"]
        '500':
          description: "Внутренняя ошибка сервера"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                InternalServerError:
                  value:
                    Error: "InternalServerError"

  /getCapacity:
    get:
      tags:
        - admin
      summary: "Получение текущей вместимости транспортного средства"
      description: "Возвращает текущую вместимость транспортного средства (например, количество порций)."
      operationId: GetCapacity
      responses:
        '200':
          description: "Вместимость успешно получена"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VehicleCapacity'
              examples:
                CurrentCapacity:
                  value:
                    Capacity: 100
        '500':
          description: "Внутренняя ошибка сервера"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                InternalServerError:
                  value:
                    Error: "InternalServerError"

  /updateCapacity:
    post:
      tags:
        - admin
      summary: "Обновление вместимости транспортного средства"
      description: "Позволяет обновить вместимость транспортного средства. В запросе передаётся новое значение."
      operationId: UpdateCapacity
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VehicleCapacity'
      responses:
        '200':
          description: "Вместимость успешно обновлена"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VehicleCapacity'
              examples:
                UpdatedCapacity:
                  value:
                    Capacity: 150
        '400':
          description: "Неверный запрос: передано некорректное значение вместимости."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                InvalidCapacity:
                  value:
                    Error: "Неверное значение вместимости."
        '500':
          description: "Внутренняя ошибка сервера"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                InternalServerError:
                  value:
                    Error: "InternalServerError"

  /admin/registerVehicle:
    post:
      tags:
        - admin
      summary: "Регистрация транспортного средства"
      description: "Регистрирует сразу несколько транспортных средств, число которых определяется в конфигурации."
      operationId: RegisterVehicle
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterVehicleRequest'
      responses:
        '200':
          description: "Транспортные средства успешно зарегистрированы"
          content:
            application/json:
              schema:
                type: object
                properties:
                  registeredVehicles:
                    type: integer
                  message:
                    type: string
              examples:
                Success:
                  value:
                    registeredVehicles: 2
                    message: "Vehicles registered successfully."
        '400':
          description: "Неверный запрос: отсутствует поле Type."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: "Внутренняя ошибка сервера"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /admin/updateMealTypes:
    post:
      tags:
        - admin
      summary: "Обновление списка типов питания"
      description: "Обновляет список типов питания, принимая массив строк."
      operationId: UpdateMealTypes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                mealTypes:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: "Список типов питания успешно обновлён"
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
              examples:
                Success:
                  value:
                    message: "Meal types updated successfully."
        '500':
          description: "Внутренняя ошибка сервера"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /admin/toggleMode:
    post:
      tags:
        - admin
      summary: "Переключение режима работы"
      description: "Переключает режим работы (Mock/Real)."
      operationId: ToggleMode
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                useMock:
                  type: boolean
      responses:
        '200':
          description: "Режим работы успешно переключён"
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
              examples:
                Success:
                  value:
                    message: "Communication mode updated."
        '500':
          description: "Внутренняя ошибка сервера"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /admin/reload:
    post:
      tags:
        - admin
      summary: "Полная перезагрузка приложения"
      description: "Сбрасывает все данные и переинициализирует транспортные средства."
      operationId: Reload
      responses:
        '200':
          description: "Приложение перезагружено"
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
              examples:
                Success:
                  value:
                    message: "Application reloaded successfully."
        '500':
          description: "Внутренняя ошибка сервера"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /admin/update:
    post:
      tags:
        - admin
      summary: "Обновление конфигурации приложения"
      description: "Обновляет настройки приложения (ConflictRetryCount, MovementSpeed, NumberOfCateringVehicles) через JSON."
      operationId: UpdateConfig
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateConfigRequest'
      responses:
        '200':
          description: "Конфигурация успешно обновлена"
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
              examples:
                Success:
                  value:
                    message: "Configuration updated successfully."
        '400':
          description: "Неверный запрос: отсутствуют или некорректные данные."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: "Внутренняя ошибка сервера"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  schemas:
    CateringRequest:
      type: object
      properties:
        AircraftId:
          type: string
          description: "Идентификатор самолёта, для которого осуществляется доставка питания."
        NodeId:
          type: string
          description: "Идентификатор точки, куда осуществляется доставка питания."
        Meals:
          type: array
          description: "Массив заказов, где каждый объект содержит тип питания и количество заказанных порций."
          items:
            $ref: '#/components/schemas/MealOrder'
      required:
        - FlightId
        - Meals

    MealOrder:
      type: object
      properties:
        MealType:
          type: string
          description: "Тип питания (например, 'Standard', 'Vegetarian', 'Vegan', 'Gluten-Free')."
        Count:
          type: integer
          minimum: 0
          description: "Количество заказанных порций для данного типа питания."
      required:
        - MealType
        - Count

    CateringResponse:
      type: object
      properties:
        Waiting:
          type: boolean
          description: "Флаг, указывающий, ожидается ли транспортное средство."
        Status:
          type: string
          description: "Статус операции (например, 'success')."
      required:
        - Waiting
        - Status

    ErrorResponse:
      type: object
      properties:
        Error:
          type: string
          description: "Сообщение об ошибке."
      required:
        - Error

    MealTypesResponse:
      type: object
      properties:
        mealTypes:
          type: array
          items:
            type: string
          description: "Список доступных типов питания."
      required:
        - mealTypes

    VehicleCapacity:
      type: object
      properties:
        Capacity:
          type: number
          description: "Вместимость транспортного средства (например, количество порций)."
      required:
        - Capacity

    UpdateConfigRequest:
      type: object
      properties:
        ConflictRetryCount:
          type: integer
          description: "Число повторов при конфликте."
        MovementSpeed:
          type: number
          description: "Скорость движения транспортного средства."
        NumberOfCateringVehicles:
          type: integer
          description: "Количество транспортных средств, регистрируемых за один вызов."
      required:
        - ConflictRetryCount
        - MovementSpeed
        - NumberOfCateringVehicles

    RegisterVehicleRequest:
      type: object
      properties:
        Type:
          type: string
          description: "Тип транспортного средства (например, 'catering')."
      required:
        - Type
