openapi: 3.0.0
info:
  title: Charge API
  description: |
    API для управления процессом зарядки самолетов.
  version: 1.0.0

servers:
  - url: https://charge.reaport.ru
    description: Сервер для зарядки самолетов

tags:
  - name: admin
    description: Методы для управления конфигурацией и транспортными средствами

paths:
  /request:
    post:
      summary: Запрос на зарядку
      description: |
        Когда самолет на парковочном месте, оркестратор отправляет запрос на зарядку.
        После успешного назначения машины система отправляет уведомление в оркестратор.
      operationId: RequestCharging
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChargingRequest'
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargingResponse'
        '400':
          description: Неверный запрос (отсутствует `Aircraft_id` или `NodeId`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargingErrorResponse'
        '404':
          description: Самолёт не найден
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargingErrorResponse'
        '500':
          description: Внутренняя ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargingErrorResponse'

  /complete:
    post:
      summary: Завершение зарядки
      description: |
        Оркестратор отправляет запрос на завершение зарядки после выполнения всех операций.
      operationId: CompleteCharging
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChargingCompletionRequest'
      responses:
        '204':
          description: Успешный ответ. Зарядка завершена.
        '400':
          description: Неверный запрос (отсутствует `Aircraft_id` или `NodeId`)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargingErrorResponse'
        '404':
          description: Самолёт не найден
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargingErrorResponse'
        '500':
          description: Внутренняя ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargingErrorResponse'

  /admin/update:
    post:
      summary: Обновить параметры конфигурации
      description: |
        Обновляет параметры конфигурации системы зарядки.
      tags:
        - admin
      operationId: UpdateAdminConfig
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminConfig'
      responses:
        '200':
          description: Конфигурация успешно обновлена
        '400':
          description: Ошибка в параметрах
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargingErrorResponse'

  /admin/registerVehicle:
    post:
      summary: Зарегистрировать новую машину
      description: |
        Регистрирует новое транспортное средство для зарядки самолетов.
      tags:
        - admin
      operationId: RegisterVehicle
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  description: Тип транспортного средства (например, charging).
              required:
                - type
      responses:
        '200':
          description: Машина успешно зарегистрирована
        '400':
          description: Ошибка регистрации
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargingErrorResponse'

components:
  schemas:
    ChargingRequest:
      type: object
      properties:
        aircraft_id:
          type: string
          description: Уникальный идентификатор самолета.
        nodeId:
          type: string
          description: Идентификатор узла парковки самолета.
      required:
        - aircraft_id
        - nodeId

    ChargingCompletionRequest:
      type: object
      properties:
        aircraft_id:
          type: string
          description: Уникальный идентификатор самолета.
        nodeId:
          type: string
          description: Идентификатор узла парковки самолета.
      required:
        - aircraft_id
        - nodeId

    ChargingResponse:
      type: object
      properties:
        wait:
          type: boolean
          description: true - нет доступных машин.
      required:
        - wait

    ChargingErrorResponse:
      type: object
      properties:
        errorCode:
          type: integer
          description: Код ошибки.
        message:
          type: string
          description: Описание ошибки.
      required:
        - errorCode
        - message

    AdminConfig:
      type: object
      properties:
        ConflictRetryCount:
          type: integer
          description: Количество попыток при конфликте маршрутов.
      required:
        - ConflictRetryCount
