openapi: 3.0.3
info:
  title: Reaport Module API
  description: hello
  version: 1.0.0

servers:
  - url: 'http://reaport.ru/'
    description: Production server


tags:
  - name: Registration
    description: Модуль регистрации
    externalDocs:
      description: Description
      url: https://docs.google.com/document/d/1-A99pLnf-T3KJgUowspAIestsUUSzbDQ0Sfr5KvSmdI/edit?tab=t.bpkqrrz6nfsl
  - name: Traveler
    description: Модуль пассажиров
    externalDocs:
      description: Description
      url: https://docs.google.com/document/d/1-A99pLnf-T3KJgUowspAIestsUUSzbDQ0Sfr5KvSmdI/edit?tab=t.8b62b4fz8jp0

paths:
  /passengers/register:
    post:
      tags:
        - Registration
        - Traveler
      summary: Регистрация пассажира
      description: Регистрирует пассажира с уникальным идентификатором (idTraveler), весом багажа и опциональными гастрономическими предпочтениями.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - idTraveler
                - baggageWeight
              properties:
                idTraveler:
                  type: string
                  format: uuid
                  description: Уникальный идентификатор пассажира (idTraveler)
                baggageWeight:
                  type: number
                  format: float
                  description: Вес багажа (кг)
                foodOnBoard:
                  type: string
                  nullable: true
                  description: Гастрономические предпочтения (опционально, например, "вегетарианство, без глютена")
              example:
                idTraveler: "123e4567-e89b-12d3-a456-426614174000"
                baggageWeight: 23.5
                foodOnBoard: "вегетарианство, без глютена"
      responses:
        '200':
          description: Успешная регистрация
        '202':
          description: Питание изменено
          content:
            application/json:
              schema:
                type: object
                properties:
                  changeFoodOnBoard:
                    type: string
                    description: Новые гастрономические предпочтения
                example:
                  changeFoodOnBoard: "веганство, без орехов"
        '400':
          description: Неверный запрос (ошибка валидации)
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Описание ошибки
                example:
                  error: "Неверный формат данных: поле idTraveler должно быть UUID"
        '403':
          description: Регистрация не открыта
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Описание ошибки
                example:
                  error: "Регистрация ещё не открыта"
        '404':
          description: Пассажир не найден
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Описание ошибки
                example:
                  error: "Пассажир с idTraveler=123e4567-e89b-12d3-a456-426614174000 не найден"
        '410':
          description: Регистрация на рейс закрыта
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Описание ошибки
                example:
                  error: "Регистрация уже завершена (опоздание)"
        '423':
          description: Превышение допустимого размера багажа
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Описание ошибки
                example:
                  error: "Превышен допустимый вес багажа (максимум 32 кг)"
        '500':
          description: Внутренняя ошибка сервера
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Описание ошибки
                example:
                  error: "Внутренняя ошибка сервера. Пожалуйста, попробуйте позже."