openapi: 3.0.0
info:
  title: Transporter API
  version: 1.0.0
  description: API для управления посадкой и высадкой пассажиров

servers:
  - url: 'https://transporter.reaport.ru'
    description: Сервер для транспорта

paths:
  /load:
    post:
      summary: Запрос на посадку пассажиров
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - aircraft_id 
                - passenger_count
                - aircraft_coordinates
              properties:
                aircraft_id: 
                  type: string 
                  description: Идентификатор самолёта 
                passenger_count:
                  type: number
                  format: integer
                  description: Количество пассажиров для посадки
                aircraft_coordinates: 
                  type: string
                  description: Координаты самолёта 
      responses:
        '200':
          description: Успешный запрос
          content:
            application/json:
              schema:
                type: object
                properties:
                  waiting:
                    type: boolean
                    description: true, если свободных транспортных средств нет, иначе false
        '400':
          description: Неверный запрос
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Описание ошибки
        '500':
          description: Ошибка на стороне сервера
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Описание ошибки

  /upload:
    post:
      summary: Запрос на высадку пассажиров
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - aircraft_id
                - passenger_count
                - aircraft_coordinates
              properties:
                aircraft_id: 
                  type: string 
                  description: Идентификатор самолёта 
                passenger_count:
                  type: number
                  format: integer
                  description: Количество пассажиров для высадки
                aircraft_coordinates: 
                  type: string
                  description: Координаты самолёта 
      responses:
        '200':
          description: Успешный запрос
          content:
            application/json:
              schema:
                type: object
                properties:
                  waiting:
                    type: boolean
                    description: true, если свободных транспортных средств нет, иначе false
        '400':
          description: Неверный запрос
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Описание ошибки
        '500':
          description: Ошибка на стороне сервера
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Описание ошибки

  /getCapacity:
    get:
      summary: Получить текущую вместимость транспортного средства
      operationId: getVehicleCapacity
      responses:
        '200':
          description: Успешный ответ с текущей вместимостью
          content:
            application/json:
              schema:
                type: object
                properties:
                  capacity:
                    type: number
                    format: integer
                    description: Текущая вместимость транспортного средства

  /updateCapacity:
    post:
      summary: Обновить вместимость транспортного средства
      operationId: setVehicleCapacity
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                capacity:
                  type: number
                  format: integer
                  description: Новая вместимость транспортного средства
      responses:
        '200':
          description: Успешное обновление вместимости
          content:
            application/json:
              schema:
                type: object
                properties:
                  capacity:
                    type: number
                    format: integer
                    description: Обновленная вместимость транспортного средства
        '400':
          description: Некорректное значение вместимости
